[submodule "msdfgen/src"]
	path = msdfgen/src
	url = https://github.com/Chlumsky/msdfgen
[submodule "msdfgen/freetype"]
	path = msdfgen/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
